@using Apresentacao.Models.Patrimony.General
@model List<Products>
@{
    ViewData["PageHeader"] = "General";
    ViewData["Title"] = "Patrimony > " + ViewData["PageHeader"];
}
@section scripts
    {
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#patrimony").attr("class", "nav-item menu-open");
            $("#patrimony-link").attr("class", "nav-link active");
            $("#general").attr("class", "nav-link active");
        })
    </script>

    <script>
        $(function () {
            $("#all-products").DataTable({
                "responsive": true,
                "lengthChange": false,
                "pageLength": 10,
                "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "columns": [
                    { "width": "50%" },
                    { "width": "15%" },
                    { "width": "15%" },
                    { "width": "10%" },
                    { "width": "10%" }]

            }).buttons().container().appendTo('#all-products_wrapper .col-md-6:eq(0)');
            
        });
    </script>

    <script>

        let state = true;
        function changeIconView() {
            let icon = document.getElementById('change-view-icon');
            if (state) {
                icon.removeAttribute("class")
                icon.setAttribute("class", "fas fa-th")
            } else {
                icon.removeAttribute("class")
                icon.setAttribute("class", "fas fa-bars")
            }
            state = !state;
        }
        function changeView() {

        }
    </script>
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button class="btn btn-success float-right" onclick="location.href='@Url.Action("NewProduct", "Patrimony")'"> <i class="fas fa-plus"></i> New Product</button>
            </div>
        </div>
        </div>
        <!--VIEW 1-->
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <ul class="nav nav-pills mr-auto p-2">
                            @*<li class="nav-item"><a class="nav-link mr-3" href="#" onclick="changeIconView()"><i id="change-view-icon" class="fas fa-bars"></i></a></li>*@
                            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">All Products</a></li>
                           @* @{
                                for (int i = 2; i < 5; i++)
                                {
                                    <li class="nav-item"><a class="nav-link" href="#tab_@i" data-toggle="tab">@i</a></li>
                                }
                            }*@
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <!--TAB ALL-->
                            <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="table-responsive p-0">
                                    <table id="all-products" class="table table-sm table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Brand</th>
                                                <th>Model</th>
                                                <th>Price</th>
                                                <th>NFe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        <td>@item.Brand</td>
                                                        <td>@item.Model</td>
                                                        <td>@item.Price</td>
                                                        <td><a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                               
                            </div>

                            <!--TAB-->
                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome2<th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--TAB-->
                            <div class="tab-pane" id="tab_3">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome3</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--Moveis-->
                            <div class="tab-pane" id="tab_4">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome4</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!--VIEW 2
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Fixed Header Table</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" wfd-id="id3">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Valor</th>
                                    <th>NFe</th>
                                </tr>
                            </thead>
                            <tbody>
                              @{for (int i = 0; i < 3; i++)
                                {
                                        <tr>
                                            <td>Monitor LG</td>
                                            <td>Samsung</td>
                                            <td>F390 Series C27F390FH</td>
                                            <td>1.029,00</td>
                                            <td>
                                                <a class="nav-link">
                                                    NFe <span class="float-right badge bg-danger">VISUALIZAR</span>
                                                </a>
                                            </td>
                                        </tr>
                                    }}
                                
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>-->
    </div>

</section>
