@using Apresentacao.Models.Patrimony.General
@model List<Products>
@{
    ViewData["PageHeader"] = "General";
    ViewData["Title"] = "Patrimony > " + ViewData["PageHeader"];
}
@section scripts
    {
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#patrimony").attr("class", "nav-item menu-open");
            $("#patrimony-link").attr("class", "nav-link active");
            $("#general").attr("class", "nav-link active
        })
    </script>
    <script>
        //keeping Modal updated
        $(document).ready(function () {
            $.ajax({
                url: './Patrimony/BrandsNCategories',
                success: function (data) {

                    let categories = data.categorias
                    let brands = data.marcas

                    var categorySelect = $('#modal-category-select');
                    $.each(categories, function (index, item) {
                        var option = $('<option></option>').val(item.id).text(item.nome);
                        categorySelect.append(option);
                    });

                    var brandSelect = $('#modal-brand-select');
                    $.each(brands, function (index, item) {
                        var option = $('<option></option>').val(item.id).text(item.nome);
                        brandSelect.append(option);
                    });
                }
            });
        })
        var url = null
        function EditProduct(id) {

            var table = $('#all-products').DataTable();
            var data = table.row('#' + id).data();

            $('#edit-product-modal').modal('toggle');

            $('#modal-name').val(data.name)
            $('#modal-model').val(data.model)
            $('#modal-price').val(data.price)
            $('#modal-serial-number').html(data.serialnumber)
            


            $("#modal-brand-select > option").each(function () {
                if (this.text == data.brand) {
                    $('#modal-brand-select').val(this.value)
                }
            });

            $("#modal-category-select > option").each(function () {
                if (this.text == data.category) {
                    $('#modal-category-select').val(this.value)
                }
            });
            url = 'Patrimony/UpdateProduct/' + id;
        }
        //Validation and saving
        let isSafetoProceed = true;
        $('#update-product').click(function () {
            let show = true;
            $('.product-data').each(function () {
                if ($(this).val() == "" || $(this).val() == null) {
                    isSafetoProceed = false;

                    if (show) {
                        toastr.error("Product can't be saved without these informations")
                        show = false;
                    }
                    if ($(this).attr('id') == "brand-select" || $(this).attr('id') == "category-select")
                        $(this).attr('class', 'custom-select is-invalid')
                    else
                        $(this).attr('class', 'form-control product-data is-invalid')

                    setTimeout(() => {
                        if ($(this).attr('id') == "brand-select" || $(this).attr('id') == "category-select")
                            $(this).attr('class', 'custom-select product-data')
                        else
                            $(this).attr('class', 'form-control product-data')
                        isSafetoProceed = true
                    }, 3000);
                }
            })

            if (isSafetoProceed && url != null) {

                //getting Inputs values
                let name = $('#modal-name').val();
                let model = $('#modal-model').val();
                let price = $('#modal-price').val().replace('R$ ', '');
                let serialNumber = $('#modal-serial-number').val();
                let brandId = $('#modal-brand-select').find(":selected").val()
                let categoryId = $('#modal-category-select').find(":selected").val()


                let payload = {
                    "Name": name,
                    "Model": model.toUpperCase(),
                    "Price": price,
                    "SerialNumber": serialNumber.toUpperCase(),
                    "BrandId": brandId,
                    "CategoryId": categoryId
                }
                console.log(JSON.stringify(payload))
                $(this).html('<i class="fas fa-redo-alt fa-spin"></i>')
                $.ajax({
                    data: JSON.stringify(payload),
                    url: url,
                    type: 'PUT',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (res) {
                        toastr.success('Saved to Database!')
                        window.setTimeout(function () { window.location.href = './Patrimony'; }, 2000)
                        console.log("resposta:", res)
                        //switch () {
                        //    case 'success':
                        //        toastr.success('Saved to Database!')
                        //        window.setTimeout(function () { window.location.href = './'; }, 2000)
                        //        break
                        //    case 'error':
                        //        toastr.error('Error, preset could not be saved!')
                        //        break
                        //    case 'equal':
                        //        toastr.warning('There is already a preset registered with that name!')
                        //        break
                        //    default:
                        //        toastr.error('Unexpected error')
                        //}
                    }
                })
                $(this).html('<i class="fa-solid fa-check"></i> Save')

            }

        })
    </script>
    <script>
        //Masking
        $(function () {
            $('[data-mask]').inputmask()
            let moneymask = new Inputmask({
                alias: 'currency',
                prefix: 'R$ ',
                radixPoint: ',',
                groupSeparator: '.',
                numericInput: true,
                onBeforeMask: function (value, opts) {

                },
            })
            let moneyField = document.getElementById('modal-price');
            moneymask.mask(moneyField)

        })
    </script>

  
    <script>
        $(function () {
            $("#all-products").DataTable({
                "responsive": true,
                "lengthChange": false,
                "pageLength": 10,
                "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "columns": [
                    { data: "name", "width": "25%" },
                    { data: "model", "width": "15%" },
                    { data: "brand", "width": "13%" },
                    { data: "category", "width": "13%" },
                    { data: "price", "width": "7%" },
                    { data: "nfe", "width": "5%" },
                    { data: "serialNumber", "width": "15%" },
                    { data: "edit", "width": "7%" }],
                "columnDefs": [
                    {
                        "targets": [1, 2, 3, 4, 5, 6, 7],
                        "className": "dt-center"
                    },
                    {
                        targets: [5,6],
                        visible: false
                    }
                ]

            }).buttons().container().appendTo('#all-products_wrapper .col-md-6:eq(0)');

        });
    </script>

    <script>

        let state = true;
        function changeIconView() {
            let icon = document.getElementById('change-view-icon');
            if (state) {
                icon.removeAttribute("class")
                icon.setAttribute("class", "fas fa-th")
            } else {
                icon.removeAttribute("class")
                icon.setAttribute("class", "fas fa-bars")
            }
            state = !state;
        }
        function changeView() {

        }
    </script>
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button class="btn btn-success float-right" onclick="location.href='@Url.Action("NewProduct", "Patrimony")'"> <i class="fas fa-plus"></i> New Product</button>
            </div>
        </div>

        <!--VIEW 1-->
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <ul class="nav nav-pills mr-auto p-2">
                            @*<li class="nav-item"><a class="nav-link mr-3" href="#" onclick="changeIconView()"><i id="change-view-icon" class="fas fa-bars"></i></a></li>*@
                            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">All Products</a></li>
                            @* @{
                            for (int i = 2; i < 5; i++)
                            {
                            <li class="nav-item"><a class="nav-link" href="#tab_@i" data-toggle="tab">@i</a></li>
                            }
                            }*@
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <!--TAB ALL-->
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="table-responsive p-0">
                                        <table id="all-products" class="table table-sm table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Model</th>
                                                    <th>Brand</th>
                                                    <th>Category</th>
                                                    <th>Price</th>
                                                    <th>SN</th>
                                                    <th>NFe</th>
                                                    <th>Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in Model)
                                                    {
                                                        <tr id="@item.Id">
                                                            <td>@item.Name</td>
                                                            <td>@item.Model</td>
                                                            <td>@item.Brand</td>
                                                            <td>@item.Category</td>
                                                            <td>@item.Price</td>
                                                            <td>@item.SerialNumber</td>
                                                            <td><a href="#">-</a></td>
                                                            @*<td><a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>*@
                                                            <td><a href="#" onclick="EditProduct('@item.Id')"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <!--TAB-->
                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome2
                                                    <th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--TAB-->
                            <div class="tab-pane" id="tab_3">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome3</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--Moveis-->
                            <div class="tab-pane" id="tab_4">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome4</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!--VIEW 2
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Fixed Header Table</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" wfd-id="id3">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Valor</th>
                                    <th>NFe</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>-->
    </div>

    <div class="modal fade" id="edit-product-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="product-id" class="modal-title"> <i class="fa-regular fa-pen-to-square"></i> Update Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text label">Name</span>
                                    </div>
                                    <input id="modal-name" type="text" class="form-control product-data" value="">
                                </div>
                            </div> <!--/name -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text label">Model</span>
                                    </div>
                                    <input id="modal-model" type="text" class="form-control product-data" value="">
                                </div>
                            </div> <!--/Model-->
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text label">R$</span>
                                    </div>
                                    <input type="text" class="form-control product-data" id="modal-price" name="price" value="1.029,00" inputmode="decimal" style="text-align: right;">
                                </div>
                            </div> <!--/Price -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text label"><i class="fa-solid fa-barcode"></i></span>
                                    </div>
                                    <input id="modal-serial-number" type="text" class="form-control product-data" value="undefined">
                                </div>
                            </div> <!--/Serial Number -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Brand</span>
                                    </div>
                                    <select class="custom-select product-data" id="modal-brand-select" aria-label="Example select with button addon">
                                        <option selected="" disabled="">Choose...</option>


                                    </select>
                                </div>
                            </div> <!--Brand -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Category</span>
                                    </div>
                                    <select class="custom-select product-data" id="modal-category-select" aria-label="Example select with button addon">
                                        <option selected="" disabled="">Choose...</option>
                                    </select>
                                </div>
                            </div> <!--Category-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="update-product" type="button" class="btn btn-success"> <i class="fa-solid fa-check"></i> Update</button>
                </div>
            </div>

        </div>

    </div>

</section>
