@using Apresentacao.Models.Patrimony.Settings
@model PatrimonySettings


@{
    ViewData["PageHeader"] = "Settings";
    ViewData["Title"] = "Patrimony > " + ViewData["PageHeader"];

    //PatrimonySettings dados = ViewData["dados"] as PatrimonySettings;
}

@section scripts
    {


    <script>
        //Sidebar Behavior
        $(document).ready(function () {
            $("#patrimony").attr("class", "nav-item menu-open");
            $("#patrimony-link").attr("class", "nav-link active");
            $("#settings").attr("class", "nav-link active");
        })

    </script>


    <script>
        //-_---_--_-____-_--_---_---[CREATE CATEGORY]____--__--_-_--_-____--__-_--___--_*

        $(document).ready(function () {
            $('#btn-nova-categoria').click(function () {
                $('#nova-categoria').attr('style', 'display:block');
                $('#btn-cancel-categoria').removeAttr('style');
                $(this).attr('style', 'display:none');
            })

            $('#salvar-categoria').click(function () {

                let inputValue = $('#input-nova-categoria').val();
                if (inputValue === '') {
                    Toast.fire({ icon: 'error', title: 'I cant save it like that' })
                    $('#input-nova-categoria').attr('class', 'form-control border border-danger')
                    setTimeout(function () {
                        $('#input-nova-categoria').attr('class', 'form-control')
                    }, 3000)
                    return;
                }


                let payload = { "Nome": inputValue }

                $('#salvar-categoria').html('<i class="fas fa-redo-alt fa-spin"></i>')
                $.ajax({
                    data: JSON.stringify(payload),
                    url: './NewCategory',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (res) {
                        Toast.fire({ icon: 'success', title: 'All good, go on!' })
                        window.setTimeout(function () { window.location.href = './Settings'; }, 2000)

                    }
                })
                $(this).html('<i class="fa-solid fa-check"></i>')
            })
        })
    </script>

    <script>
        //-_---_--_-____-_--_---_---[CREATE BRAND]____--__--_-_--_-____--__-_--___--_*

        $(document).ready(function () {
            $('#btn-nova-marca').click(function () {
                $('#nova-marca').attr('style', 'display:block');
                $('#btn-cancel-marca').attr('style', 'display:block');
                $(this).attr('style', 'display:none');
            })
            $('#salvar-marca').click(function () {
                let inputValue = $('#input-nova-marca').val();
                if (inputValue === '') {
                    Toast.fire({ icon: 'error', title: 'I cant save it like that!' })
                    $('#input-nova-marca').attr('class', 'form-control border border-danger')
                    setTimeout(function () {
                        $('#input-nova-marca').attr('class', 'form-control')
                    }, 3000)
                    return;
                }
                let payload = { "Nome": inputValue }
                $(this).html('<i class="fas fa-redo-alt fa-spin"></i>')
                $.ajax({
                    data: JSON.stringify(payload),
                    url: './NewBrand',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (res) {

                        Toast.fire({ icon: 'success', title: "All good, go on!" })
                        window.setTimeout(function () { window.location.href = './Settings'; }, 2000)
                    }
                })
                $(this).html('<i class="fa-solid fa-check"></i>')
            })
        })
    </script>

    <script>
        //-_---_--_-____-_--_---_---[SHARED CANCEL BUTTTON]____--__--_-_--_-____--__-_--___--_*
        $('#btn-cancel-marca').click(function () {
            $('#nova-marca').attr('style', 'display:none')
            $('#btn-nova-marca').attr('style', 'display:block')
            $(this).attr('style', 'display:none')
        })
        $('#btn-cancel-categoria').click(function () {
            $('#nova-categoria').attr('style', 'display:none')
            $('#btn-nova-categoria').attr('style', 'display:block')
            $(this).attr('style', 'display:none')
        })
    </script>



    <script>
        //-_---_--_-____-_--_---_---[EDIT BRAND]____--__--_-_--_-____--__-_--___--_
        let url = null;
        function EditBrand(id) {

            let td = $('#brand-row-' + id).find("td:eq(1)")
            let name = td.text()

            $('#modal-name').val(name)
            $('#modal-name').attr('data-content', 'brand')
            $('#modal-name').attr('data', id)
            $('#modal-title').html('<i class="fa-regular fa-pen-to-square"></i> Update Brand')


            $('#edit-modal').modal('toggle');
            url = './UpdateBrand/' + id;
        }
    </script>
    <script>
        function EditCategory(id) {

            //console.log(id)
            //console.log($('#brand-row-' + id).find("td:eq(1)").text())

            let td = $('#category-row-' + id).find("td:eq(1)")
            let name = td.text()

            $('#modal-name').val(name)
            $('#modal-name').attr('data-content', 'category')
            $('#modal-name').attr('data', id)
            $('#modal-title').html('<i class="fa-regular fa-pen-to-square"></i> Update Category')

            $('#edit-modal').modal('toggle');
            url = './UpdateCategory/' + id;
        }
    </script>
    <script>
        $('#update-product').click(function () {

            let destiny = $('#modal-name').attr('data-content')
            console.log(destiny, url)

            if (destiny === 'category' && url != null) {

                let name = $('#modal-name').val()

                let payload = { "Nome": name }


                $(this).html('<i class="fas fa-redo-alt fa-spin"></i>')
                $.ajax({
                    data: JSON.stringify(payload),
                    url: url,
                    type: 'PUT',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (res) {
                        $('#edit-modal').modal('toggle');
                        Toast.fire({ icon: 'success', title: 'All good, go on!' })
                        window.setTimeout(function () { window.location.href = './Settings'; }, 3000)
                    }
                })
                $(this).html('<i class="fa-solid fa-check"></i> Update')

            }
            if (destiny === 'brand' && url != null) {

                let name = $('#modal-name').val()

                let payload = { "Nome": name }

                $(this).html('<i class="fas fa-redo-alt fa-spin"></i>')
                $.ajax({
                    data: JSON.stringify(payload),
                    url: url,
                    type: 'PUT',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (res) {
                        $('#edit-modal').modal('toggle');
                        Toast.fire({ icon: 'success', title: 'All good, go on!' })
                        window.setTimeout(function () { window.location.href = './Settings'; }, 3000)
                    }
                })
                $(this).html('<i class="fa-solid fa-check"></i> Update')
            }
        })

        $("#delete").click(function () {

            let id = $('#modal-name').attr('data');
            let type = $('#modal-name').attr('data-content');
            let name = $('#modal-name').val();

            $.ajax({
                url: './ConsultBound?type=' + type + '&id=' + id,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                traditional: true,
                success: function (res) {

                    if(res.length != 0){
                        var content = document.createElement('div')
                        var message = document.createElement('p')
                        message.innerHTML = "These products are using this " + type + " [<i>" + name + "</i>] <strong>delete</strong> them first!"

                        content.append(message)
                        var table = document.createElement('table');
                        table.classList.add('table', 'table-sm');

                        // Create the table header row
                        var headerRow = document.createElement('tr');
                        var headerCols = ['Name', 'Model', 'Brand', 'Category'];

                        // Iterate over the header column names and create the table header cells
                        headerCols.forEach(function (colName) {
                            var headerCell = document.createElement('th');
                            headerCell.classList.add('text-sm')
                            headerCell.textContent = colName;
                            headerRow.appendChild(headerCell);
                        });

                        // Append the header row to the table
                        table.appendChild(headerRow);

                        // Iterate over each object in the JSON data and create table rows
                        res.forEach(function (item) {
                            var row = document.createElement('tr');

                            // Iterate over the properties and create table cells
                            Object.keys(item).forEach(function (key) {
                                if (key !== 'id' && key !== 'price' && key !== 'serialNumber') {
                                    var cell = document.createElement('td');
                                    cell.textContent = item[key];
                                    row.appendChild(cell);
                                }
                            });

                            // Append the row to the table
                            table.appendChild(row);
                        });

                        content.append(table)


                        Swal.fire({
                            width:'50em',
                            title: "This can't be deleted!" ,
                            html: content,
                            icon: 'error',
                            showCancelButton: false,
                            //confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            //confirmButtonText: 'Yes, delete it!'
                        })
                        //.then((result) => {
                           
                        //    if (result.isConfirmed) {
                        //        Swal.fire(
                        //            'Deleted!',
                        //            'Your file has been deleted.',
                        //            'success'
                        //        )
                        //    }
                        //})
                    }else{
                        Swal.fire({
                            title: 'This is able to be deleted!',
                            text: "The " + type +" ["+ name+ "] has no bound.",
                            icon: 'success',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {

                            $('#edit-modal').modal('toggle');
                            if (result.isConfirmed) {
                                
                                let deleteUrl = null;
                                if(type==='brand')
                                    deleteUrl = './DeleteBrand/' + id

                                if (type === 'category')
                                    deleteUrl = './DeleteCategory/' + id

                                $.ajax({
                                    url: deleteUrl,
                                    type: 'DELETE',
                                    contentType: 'application/json; charset=utf-8',
                                    traditional: true,
                                    success: function (res) {
                                        Swal.fire(
                                            'Deleted!',
                                            name+' was deleted.',
                                            'success'
                                        )
                                        window.setTimeout(function () { window.location.href = './Settings'; }, 3000)
                                    }
                                })

                                
                            }
                        })
                    }
                    
                }
            })

        })
    </script>
    }

<!-- Main content -->
<div class="row justify-content-center mt-3 pt-2">
    <div class="col-md-10 flex-column center">

        <div class="row">
            <!--Marcas-->
            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Brands</h3>
                    </div>
                    <div class="mt-3 px-4">
                        @{
                            if (Model.ContagemMarcas.Count() == 0)
                            {
                                <dl>
                                    <dt class="text-danger" style="font-size:20px"><i class="fa-solid fa-circle-info"></i>&nbsp;Vazio!</dt>
                                    <dd>Parece que não temos nenhuma marca ainda! <i class="fa-regular fa-face-meh"></i><br>Crie uma, vamos precisar para cadastar um <a style="text-decoration:none" href="@Url.Action("NewProduct", "Patrimony")"> Produto</a></dd>
                                </dl>

                            }
                            else
                            {
                                <table class="table table-sm table-hover ">
                                    <thead>
                                        <tr>
                                            <th style="width:10px">#</th>
                                            <th>Itens</th>
                                            <th class="text-center">Products per Brand</th>
                                            <th style="width: 15px"><i class="far fa-minus-square"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (var item in Model.ContagemMarcas)
                                            {
                                                <tr id="brand-row-@item.Id">
                                                    <td>@i</td>
                                                    <td>@item.Nome</td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="mt-2 progress progress-xs">
                                                                    <div class="progress-bar progress-bar-danger" style="width:@item.Percentual%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <div class=" text-bold text-nowrap">@item.Percentual%</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><a href="#" onclick="EditBrand('@item.Id')"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </div>
                    <div class="form-horizontal">
                        <div class="card-body" id="nova-marca" style="display:none;">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Brand</span>
                                </div>
                                <input type="text" id="input-nova-marca" class="form-control" placeholder="ex: Microsoft">
                                <span class="input-group-append">
                                    <button type="button" id="salvar-marca" class="btn btn-success "><i class="fa-solid fa-check"></i></button>
                                </span>
                            </div>

                        </div>
                        <div class="card-footer ">
                            <div class="row float-right">
                                <button type="button" id="btn-cancel-marca" class="btn-cancel btn btn-default mr-2" style="display:none;"><i class="fa-solid fa-xmark"></i></button>
                                <button id="btn-nova-marca" class="btn btn-success float-right">New Brand</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!--/Marcas-->
            <!--Categorias-->
            <div class="col-md-6">

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Categories</h3>
                    </div>

                    <div class=" mt-3 px-4">
                        @{
                            if (Model.ContagemCategorias.Count == 0)
                            {
                                <dl>
                                    <dt class="text-danger" style="font-size:20px"><i class="fa-solid fa-circle-info"></i>&nbsp;Vazio!</dt>
                                    <dd>Parece que não temos nenhuma Categoria ainda! <i class="fa-regular fa-face-meh"></i><br>Crie uma, vamos precisar para cadastar um <a style="text-decoration:none" href="@Url.Action("NewProduct", "Patrimony")"> Produto</a></dd>

                                </dl>

                            }
                            else
                            {
                                <table class="table table-sm table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Itens</th>
                                            <th>Products Per Category</th>
                                            <th style="width: 15px"><i class="far fa-minus-square"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int j = 1;
                                            foreach (var item in Model.ContagemCategorias)
                                            {
                                                <tr id="category-row-@item.Id">
                                                    <td>@j</td>
                                                    <td>@item.Nome</td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="mt-2 progress progress-xs">
                                                                    <div class="progress-bar progress-bar-danger" style="width:@item.Percentual%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <div class=" text-bold text-nowrap">@item.Percentual%</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><a href="#" onclick="EditCategory('@item.Id')"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                                </tr>
                                                j++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </div>

                    <div class="form-horizontal">
                        <div class="card-body" id="nova-categoria" style="display:none;">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Category</span>
                                </div>
                                <input type="text" id="input-nova-categoria" class="form-control" placeholder="ex: Colecionáveis">
                                <span class="input-group-append">
                                    <button type="button" id="salvar-categoria" class="btn btn-success "><i class="fa-solid fa-check"></i></button>
                                </span>
                            </div>

                        </div>
                        <div class="card-footer ">
                            <div class="row float-right">
                                <button type="button" id="btn-cancel-categoria" class=" btn-cancel btn btn-default mr-2" style="display:none;"><i class="fa-solid fa-xmark"></i></button>
                                <button id="btn-nova-categoria" class="btn btn-success float-right">New Category</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div> <!--Categorias-->
        </div>

        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="callout callout-success">
                    <h5><i class="fa-regular fa-circle-check" style="color: #218838;"></i> Now, if you want to create a new Product...</h5>
                    <div row col-4>
                        <button type="button" class="btn btn-block btn-success" onclick="location.href='@Url.Action("NewProduct", "Patrimony")'"><i class="fa-solid fa-arrow-up-right-from-square"></i> Let's Go!</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="edit-modal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modal-title" class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text label">Name</span>
                                        </div>
                                        <input id="modal-name" type="text" class="form-control product-data" value="">
                                    </div>
                                </div> <!--/name -->

                            </div>
                            <div class="row d-flex justify-content-end">
                                <a id="delete" class="text-danger" href="#"><i class="fa-solid fa-triangle-exclamation fa-sm"></i>  Delete this</a>
                            </div> <!--/Delete This -->
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="update-product" type="button" class="btn btn-success"> <i class="fa-solid fa-check"></i> Update</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

