@using Apresentacao.Models
@model Apresentacao.Models.PatrimonySettings


@{
    ViewData["PageHeader"] = "Settings";
    ViewData["Title"] = "Patrimony > " + ViewData["PageHeader"];

    //PatrimonySettings dados = ViewData["dados"] as PatrimonySettings;
}

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#patrimony").attr("class", "nav-item menu-open");
            $("#patrimony-link").attr("class", "nav-link active");
            $("#settings").attr("class", "nav-link active");
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#btn-nova-categoria').click(function () {
                $('#nova-categoria').removeAttr('style');
                $('#btn-cancel-categoria').removeAttr('style');
                $(this).attr('style','display:none');
            })
            $('#salvar-categoria').click(function () {
                let inputValue = $('#input-nova-categoria').val();
                let payload = "{name=" + inputValue + "}"
                console.log(payload);
                //$.ajax({
                //    url: "/NewCategory",
                //    context: document.body
                //}).done(function () {
                //    $(this).addClass("done");
                //});
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#btn-nova-marca').click(function () {
                $('#nova-marca').removeAttr('style');
                $('#btn-cancel-marca').removeAttr('style');
                $(this).attr('style', 'display:none');
            })
            $('#salvar-categoria').click(function () {
                let inputValue = $('#input-nova-marca').val();
                let payload = "{name=" + inputValue + "}"
                console.log(payload);
                //$.ajax({
                //    url: "/NewCategory",
                //    context: document.body
                //}).done(function () {
                //    $(this).addClass("done");
                //});
            })
        })
    </script>
    }

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Marcas</h3>
                    </div>
                    <div class=" mt-3 px-4">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Itens</th>
                                    <th>Registros</th>
                                    <th style="width: 40px">%</th>
                                    <th style="width: 15px"><i class="far fa-minus-square"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.ContagemMarcas)
                                    {
                                        <tr>
                                            <td>#</td>
                                            <td>@item.Nome</td>
                                            <td>
                                                <div class=" mt-2 progress progress-xs">
                                                    <div class="progress-bar progress-bar-danger" style="width: @item.Percentual%"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge bg-success">@item.Percentual%</span></td>
                                            <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-horizontal">
                        <div class="card-body" id="nova-marca" style="display:none;">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Marca</span>
                                </div>
                                <input type="text" id="input-nova-marca" class="form-control" placeholder="ex: Microsoft">
                                <span class="input-group-append">
                                    <button type="button" id="salvar-marca" class="btn btn-success "><i class="fa-solid fa-check"></i></button>
                                </span>
                            </div>

                        </div>
                        <div class="card-footer ">
                            <div class="row float-right">
                                <button type="button" id="btn-cancel-marca" class="btn btn-default mr-2" style="display:none;"><i class="fa-solid fa-xmark"></i></button>
                                <button id="btn-nova-marca" class="btn btn-success float-right">Nova Marca</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!--Marcas-->
            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Categorias</h3>
                    </div>

                    <div class=" mt-3 px-4">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Itens</th>
                                    <th>Registros</th>
                                    <th style="width: 40px">%</th>
                                    <th style="width: 15px"><i class="far fa-minus-square"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.ContagemCategorias)
                                    {
                                        <tr>
                                            <td>#</td>
                                            <td>@item.Nome</td>
                                            <td>
                                                <div class=" mt-2 progress progress-xs">
                                                    <div class="progress-bar progress-bar-danger" style="width: @item.Percentual%"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge bg-success">@item.Percentual%</span></td>
                                            <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-horizontal">
                        <div class="card-body" id="nova-categoria" style="display:none;">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Categoria</span>
                                </div>
                                <input type="text" id="input-nova-categoria" class="form-control" placeholder="ex: Colecionáveis">
                                <span class="input-group-append">
                                    <button type="button" id="salvar-categoria" class="btn btn-success "><i class="fa-solid fa-check"></i></button>
                                </span>
                            </div>

                        </div>
                        <div class="card-footer ">
                            <div class="row float-right">
                                <button type="button" id="btn-cancel" class="btn btn-default mr-2" style="display:none;"><i class="fa-solid fa-xmark"></i></button>
                                <button id="btn-nova-categoria" class="btn btn-success float-right">Nova Categoria</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div> <!--Categorias-->
        </div>
    </div>
</section>

